---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Jimenez Intelligence Group | Investigación Privada</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="antialiased font-body-md text-body-md flex flex-col min-h-screen bg-surface text-on-surface">
    <slot />
  </body>
</html>
